<script setup lang="ts">
// script things

import { computed, inject, onMounted } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";

const store = useStore();
const route = useRoute();

const loggedIn = computed(() => store.state.loginModule.loggedIn);
const game = computed(() => store.state.gameListModule.game);
const keycloak: any = inject("kc");

onMounted(() => {
  const payload = { token: keycloak.token, gameId: route.params.gameId };
  // fetch game information
  store.dispatch("gameListModule/fetchGameById", payload);
  // TODO: fetch players
  // TODO: fetch missions

  keycloak.onAuthSuccess = function () {
    if (loggedIn.value == false) {
      store.dispatch("loginModule/loginSuccess", keycloak);
    }
  };
});

function changeGameInfo(gameId: number) {
  // TODO: update game info with inputs (game name, description)
  alert("Sorry - Not implemented - We are working on it");
}
function changeState() {
  // TODO: switch state from zombie to human or human to zombie.
  alert("Sorry - Not implemented - We are working on it");
}
</script>

<template>
  <div class="container mx-auto">
    <h1 class="text-center my-5">
      Admin - Manage Game
    </h1>
  <div class="text-center font-bold text-2xl my-4"> {{ game.name }}</div>
    <div class="bg-gray-100 bg-opacity-60 p-3 grid md:grid-cols-3">
      <section class="p-3">
        <!-- Description column -->
        <h2 class="text-center mb-2">Game Description</h2>
        <div class="m-auto w-full">
          <div>
            <textarea
              v-model.trim="game.game_description"
              class="block w-full h-60 p-2"
            />
          </div>
        </div>
      </section>
      <section class="p-3">
        <!-- Players column -->
        <h2 class="text-center mb-2">Players</h2>
        <div class="text-center m-2 text-red-500 font-semibold">
          Administering players is not implemented
        </div>
        <table class="w-full text-center my-4 mx-3">
          <thead class="bg-black text-gray-200">
            <tr>
              <th>Name</th>
              <th>State</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="p-3">
        <!-- Missions column -->
        <h2 class="text-center mb-2">Missions</h2>
        <div class="text-center m-2 text-red-500 font-semibold">
          Missions are not implemented.
        </div>
      </section> 
    </div>

    <!-- Buttons -->
    <div class="flex items-start justify-evenly w-full lg:w-2/6 mx-auto mt-2">
      <router-link
        to="/admin"
        class="px-10 py-1 bg-red-500 rounded text-gray-800 hover:text-gray-600"
        >Cancel</router-link
      >
      <button
        @click="changeGameInfo(game.game_id)"
        class="bg-blue-500 rounded px-10 py-1 text-gray-200"
      >
        Update Game
      </button>
    </div>
  </div>


</template>
