<script setup lang="ts"></script>

<template>
<div class="ml-5">
  <h1>List of icon attributions</h1>
  <a
    href="https://support.flaticon.com/s/article/Attribution-How-when-and-where-FI?language=en_US"
  >How to give attribute reference</a>
  <ul>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/zombie"
        title="zombie icons"
      >Zombie icons created by Chanut-is-Industries - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/human"
        title="human icons"
      >Human icons created by Freepik - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/zombie"
        title="zombie icons"
      >Zombie icons created by wanicon - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/patient"
        title="patient icons"
      >Patient icons created by Freepik - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/grave"
        title="grave icons"
      >Grave icons created by Freepik - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/rip"
        title="rip icons"
      >Rip icons created by Freepik - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/death"
        title="death icons"
      >Death icons created by Freepik - Flaticon</a>
    </li>
    <li>
      <a
        href="https://www.flaticon.com/free-icons/death"
        title="death icons"
      >Death icons created by Freepik - Flaticon</a>
    </li>
  </ul>
  </div>
</template>
